.player-video {
  display: block;
  margin: auto;
  position: relative;
  max-width: 100%;
}

.player-row {
  background: #000000;
  position: relative;
}

.clip-row {
  margin-bottom: 10px;
}

.form-row {
  margin-bottom: 10px;
}
